.tagline {
	font-family: 'Rock Salt', cursive;
}

.navbar-nav {
	font-family: 'Dosis', cursive;	
}

.row {
	font-family: 'Dosis', cursive;
}

h1 {
	font-family: 'Rock Salt', cursive;
}

h2 {
	font-family: 'Rock Salt', cursive;
}